:root {
  --admin-navbar-min-height: 64px;
  --admin-footer-min-height: 64px;
  --admin-app-container-height: 100dvh;
  --admin-sidebar-width: 230px;
}

#admin-app-container {
  display: grid;
  grid-template-columns: var(--admin-sidebar-width) 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "sidebar navbar"
    "sidebar main"
    "sidebar footer";
}

#admin-navbar-container {
  grid-area: navbar;
  position: sticky;
  min-height: var(--admin-navbar-min-height);
  top: 0;
  align-self: start;
  z-index: 30;
}

#admin-sidebar-container {
  grid-area: sidebar;
  position: sticky;
  align-self: start;
  top: 0;
  height: 100dvh;
  z-index: 50;
}

#admin-main-container {
  grid-area: main;
}

#admin-footer-container {
  grid-area: footer;
  min-height: var(--admin-footer-min-height);
}

/* Responsive Design */
@media (max-width: 860px) {
  #admin-app-container {
    grid-template-columns: 1fr;
    grid-template-areas:
      "navbar"
      "main"
      "footer";
  }

  #admin-sidebar-container {
    position: fixed;
    top: 0;
    left: 0;
    height: 100dvh;
    width: var(--admin-sidebar-width);
    opacity: 0;
    transform: translateX(-100%);
    transition: transform 0.3s ease, opacity 0.3s ease;
    background-color: white;
  }

  #admin-sidebar-container.show-admin-sidebar {
    opacity: 1;
    transform: translateX(0);
  }
}
