:root {
  --sidebar-width: 230px;
  --navbar-height: 64px;
  --sidebar-card-top-height: 80px;
  --sidebar-card-bottom-height: 64px;
  --sidebar-menu-height: calc(
    100dvh - var(--sidebar-card-top-height) - var(--navbar-height) -
      var(--sidebar-card-bottom-height)
  );
}

#admin-app-container {
  display: grid;
  grid-template-columns: var(--sidebar-width) 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "sidebar navbar"
    "sidebar main"
    "sidebar footer";
}

#admin-navbar-container {
  grid-area: navbar;
  position: sticky;
  top: 0;
  align-self: start;
  z-index: 111;
  height: var(--navbar-height);
}

#admin-sidebar-container {
  grid-area: sidebar;
  position: sticky;
  align-self: start;
  top: 0;
  height: 100dvh;
  z-index: 112;
}

#admin-footer-container {
  grid-area: footer;
}

#admin-main-container {
  grid-area: main;
}

/* Responsive Design */
@media (max-width: 860px) {
  #admin-app-container {
    grid-template-columns: 1fr;
    grid-template-areas: "navbar" "main" "footer";
    grid-template-rows: auto 1fr auto;
  }

  #admin-sidebar-container {
    position: fixed;
    width: var(--sidebar-width);
    top: 0;
    height: 100dvh;
    /* transform: translateX(-100%); */
    /* opacity: 0; */
    transition: transform 0.3s ease, opacity 0.3s ease;
  }

  .show-admin-sidebar {
    transform: translateX(0);
    opacity: 1;
  }
}
